.DS_Store
wp-content/uploads/
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/cache/
wp-content/upgrade/
wp-content/wp-cache-config.php
*.log
sitemap.xml
sitemap.xml.gz
.htaccess